body{background-color:#000000; color:#ffffff; font-family:arial;}
.maindiv{background-color: white;width: 500px; border-radius:25px;
	 color:#000000; font-weight:600;padding:20px; margin:0px auto;}
	h1{text-align: center;color: grey;font-family: verdana;}
	label{margin-left:80px;}
	#principal{margin-left:60px;}
	#rate{margin-left:22px;}
	#years{margin-left:28px;}
	button{margin-left:80px;}
	footer span{font-size:20px;}
	#result{display:block; margin-left:80px;}




